/* Configuração Inicial */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 !important;
}

/* Header */

header .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

header .col-lg-12 h1 {
    text-align: center;
    font-weight: normal;
    font-style: italic;
    font-size: 2rem;
}

/* Sinopse */

.sinopse {
    padding: 2rem 0;
}

.sinopse .col-lg-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sinopse-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.sinopse-text h2, .depoimentos h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
}

.sinopse-text p {
    text-align: justify;
    line-height: 1.85rem;
}

/* Depoimentos */

.depoimentos {
    padding: 2rem 0;
}

.depoimentos h5 {
    margin: 1.5rem 0 !important;
    text-align: center !important;
    font-weight: bold !important;
    font-style: italic !important;
    font-size: 1rem !important;
}

.depoimentos p {
    width: 75% !important;
    text-align: center !important;
    font-weight: normal !important;
    font-size: 1rem !important;
}

.depoimentos .carousel-text {
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

.depoimentos .carousel-item {
    height: 12.5rem !important;
    margin-bottom: 4rem !important;
}

.depoimentos .carousel-button button {
    width: 10px !important;
    height: 10px !important;
}

.depoimentos .carousel-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Autora */

.autora {
    background: #9F00CC;
}

.autora .col-lg-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem 0;
}

.autora h2, .autora h3 {
    color: white;
    font-weight: bold;

}

.autora p {
    color: white;
    font-weight: normal;
    text-align: justify;
    line-height: 1.85rem;
}

/* Leia Online */

.leia-online .col-lg-12 {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.leia-online h2, .leia-online h6 {
    font-weight: bold;
}

.leia-online h6, .leia-online p {
    font-style: italic;
    text-align: center;
}

.leia-online img {
    height: 60px;
    width: 60px;
    transition: 0.3s ease-in;
}

.leia-online img:hover {
    opacity: 50%;
}

/* Loja */

.loja {
    padding: 4rem 0;
}

.loja .col-lg-4 {
    font-size: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.loja span {
    color: #FF6600;
    font-weight: bold;
}

.loja a {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-decoration: none;
    width: 100%;
    transition: 0.3s ease-in;
}

.loja a:hover {
    opacity: 50%;
}

.loja a p, .loja a i {
    color: white;
    font-size: 1.5rem;
}

/* Produtos */

.produtos {
    padding: 2rem 0;
    background: #00C9C6;
}

.produtos .col-lg-4 {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.produtos .col-lg-4 h2 {
    font-weight: normal;
}

.produtos a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 0;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    border: 3px solid white;
    transition: 0.3s ease-in;
}

.produtos a:hover {
    background: white;
    color: black;
}

/* Saiba mais */

.saiba-mais {
    padding: 2rem 0;
}

.saiba-mais h2 {
    font-weight: bold;
}

.saiba-mais .col-lg-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.saiba-mais p {
    font-style: italic;
}

.saiba-mais a {
    padding: 1rem 0;
    width: 30rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 1.5rem;
    color: white;
    transition: 0.3s ease-in;
}

.saiba-mais a p {
    font-style: normal;
}

.saiba-mais a:hover {
    color: white;
    opacity: 50%;
}

/* Compartilhe */

.compartilhe {
    padding: 5rem 0;
    background: #0082CD;
}

.compartilhe .col-lg-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.compartilhe h2 {
    color: white;
    font-weight: normal;
}

.compartilhe a {
    border: 3px solid white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    transition: 0.3s ease-in;
}

.compartilhe a:hover {
    background: #FFF;
    color: black;
}

/* Matilha */

.matilha {
    padding: 5rem 0;
    background: url('https://i0.wp.com/bloodlycan.com/wp-content/uploads/2020/07/banner-Apoia-se-comic2.jpg?id=8112');
}

.matilha .col-lg-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.matilha h2 {
    color: white;
    font-weight: normal;
}

.matilha a {
    border: 3px solid white;
    padding: 1rem 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    transition: 0.3s ease-in;
}

.matilha a:hover {
    background: #FFF;
    color: black;
}

/* Footer */

footer {
    background: black;
    padding: 2rem 0;
}

footer .col-lg-12 {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

footer .social-media-icon {
    display: flex;
    gap: 2rem;
}

footer .social-media-icon a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    transition: 0.3s ease-in;
}

footer .social-media-icon a:hover {
    opacity: 50%;
}